.row
  .col-sm-12.col-lg-12.col-md-12
    = link_to new_building_path, class: 'btn btn-default btn-block btn-dashboard' do
      %i.fa.fa-plus-square-o.fa-4x.pull-left
      %em Added building
    = link_to export_all_area_patients_path(format: :xls), class: 'btn btn-default btn-block btn-dashboard' do
      %i.fa.fa-cloud-download.fa-4x.pull-left
      %em Export all patient
    = link_to new_patient_path, class: 'btn btn-default btn-block btn-dashboard' do
      %i.fa.fa-user-plus.fa-4x.pull-left
      %em Added patient to area
.row
  .col-sm-12.col-lg-12.col-md-12
    .header-title
      %h3 Buildings
    - unless @buildings.blank?
      = render partial: 'buildings', locals: { buildings: @buildings }




