.row
  .col-sm-12.col-lg-12
    = link_to new_building_path, class: 'btn btn-lg btn-success btn-dashboard' do
      %i.fa.fa-plus-square-o.fa-4x.pull-left
      %em Додати будинок до дільниці
    = link_to export_all_area_patients_path(format: :xls), class: 'btn btn-lg btn-success btn-dashboard' do
      %i.fa.fa-cloud-download.fa-4x.pull-left
      %em Eкспортувати піцієнтів дільниці
.row
  .col-sm-12.col-lg-12.col-md-12
    .header-title
      %h3 Будинки Дільниці
    - unless @buildings.blank?
      = render partial: 'buildings', locals: { buildings: @buildings }




