%footer.footer-distributed
  .footer-left
    .footer-icons
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-facebook
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-twitter
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-instagram
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-pinterest-square
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-linkedin
      %a{:href => "#", :target => "_blank"}
        %i.fa.fa-youtube
  .footer-center
  .footer-right
